.table {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

.controls {
  width: 480px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.column {
}

.cell {
  background-color: aquamarine;
  margin-top: 5px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}